<div class="bigger">
  <h1 class="text-center huge sketch">Editing Contact</h1>
</div>

<%= render 'form' %>

<div class="text-center">
<%= link_to 'Back', contacts_path, class: "text-center btn btn-primary biggest" %>
</div>

<div class="space-30"></div>
